<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-6710438178084678~9087443687</string>
	<key>CLIENT_ID</key>
	<string>168766731792-rcu7ltr0evnfm4gb5atjaruklp9ngg4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168766731792-rcu7ltr0evnfm4gb5atjaruklp9ngg4s</string>
	<key>API_KEY</key>
	<string>AIzaSyBVOyEwdObdxEP8QhN4MuCHh1e0S3LFlmo</string>
	<key>GCM_SENDER_ID</key>
	<string>168766731792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.mateus.capivara1</string>
	<key>PROJECT_ID</key>
	<string>capivarainvaders</string>
	<key>STORAGE_BUCKET</key>
	<string>capivarainvaders.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:168766731792:ios:3e1efb54fef7dc527ebc95</string>
	<key>DATABASE_URL</key>
	<string>https://capivarainvaders.firebaseio.com</string>
</dict>
</plist>
